*

!.zshrc

!.config/
.config/*

!.config/sway/
!.config/sway/*

!.gitignore
!readme.md
!packagesneeded.txt
!.wallpaper/
!.wallpaper/*
!.config/neofetch/
!.config/neofetch/*
!.config/wofi/
!.config/wofi/*
!.config/mako
!.config/mako/*
!install.sh